<div id="flash">
  <% if flash[:notice]%>
    <p class="notice ui info message"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert ui error message"><%= alert %></p>
  <% end %>
</div>
