<%= form_for @member, url: {action: "create"} do |f| %>
  <p> Name: <%= f.text_field :name %> </p>
  <p> Website: <%= f.text_field :website, label: "Website" %> </p>
  <%= f.submit "Create" %>
<% end %>
